img {
    height: 150px;
    width: 100px;
}

.image, .movie {
    margin-left: 2%;
    vertical-align: middle;
    display: inline;
}

button {
    margin-left: 0.5%;
}

.buttons {
    margin-left: 1.5%;
}

.movieContainer {
    margin-bottom: 3%;
}