img {
    height: 50px;
    width: 50px;
}

.image, .movie {
    margin-left: 2%;
    vertical-align: middle;
    display: inline;
}

button {
    margin-left: 0.5%;
}

.movieContainer {
    margin-bottom: 3%;
}